.notification {
  font-size: 20px;
  border: 1px solid black;
  width: max-content;
  padding: 0 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: lightgray;
}

.success {
  color: green;
  border-color: green;
}

.error {
  color: red;
  border-color: red;
}